body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #87CEEB; /* Světle modrá barva pozadí */
}

#container {
    position: relative; /* Umožňuje absolutní pozicování v rámci kontejneru */
}

#backgroundImage {
    position: absolute; /* Umožňuje posun obrázku */
    top: 0; /* Umístění obrázku na vrchol kontejneru */
    left: 50%; /* Horizontální centrování */
    transform: translateX(-50%); /* Vycentrování obrázku */
    width: auto; /* Automatická šířka */
    height: auto; /* Automatická výška */
}

canvas {
    position: absolute; /* Umožňuje překrýt obrázek */
    top: 0; /* Umístění plátna na vrchol kontejneru */
    left: 50%; /* Horizontální centrování */
    transform: translateX(-50%); /* Vycentrování plátna */
    border: 2px solid #000; /* Černý okraj kolem plátna */
}