.cookie {
    position: relative; 
    margin: 0 auto;
    margin-top: 20px;
    width: 200px;
    height: 200px;
    background-color: #D2B48C;
    border-radius: 50%;
    transform: translateX(165px);
}


.shape {
    position: absolute;
    border-radius: 50%;
    background-color: #8B4513;
}

#skore {
    text-align: center;
    margin-top: 20px;
    font-family: system-ui;
}

.plus-jedna {
    position: absolute;
    font-size: 30px;
    font-family: system-ui;
    animation: zmizeni 1s forwards;
    pointer-events: none;
}

@keyframes zmizeni {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}


#resetBtn {
    display: block;
    justify-self: center;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.upgrades {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: system-ui;
}

.upgrade-btn {
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: system-ui;
}

.multiplier-text {
    text-align: center;
    font-family: system-ui;
    margin-top: 10px;
}

/* NOCNI REZIM */
body.night-mode .upgrades{
    background-color: rgb(175, 175, 175);
}

body.night-mode .upgrade-btn {
    background-color: #333; /* Tmavá barva pozadí */
    color: #fff; /* Světlá barva textu */
}