
#herniPlocha {
    border: 2px solid darkgreen;
    background-color: lightgreen;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#skore {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}
#dialog, #gameOverDialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 990; /* Zajištění, že dialog bude nad ostatními prvky */
}

#dialogContent {
    text-align: center;
}

#vyber{
    margin-left: -5px;
}

#finalScore{
    margin-left: -5px;
}
#restartButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: red; /* Zelené pozadí */
    color: white; /* Bílý text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#restartButton:hover {
    background-color: darkred; /* Tmavší zelená při najetí myší */
}
#menuButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: green; /* Modré pozadí */
    color: white; /* Bílý text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#menuButton:hover {
    background-color: darkgreen; /* Tmavší modrá při najetí myší */
}

button {
    padding: 10px 20px; /* Vnitřní okraje */
    font-size: 16px; /* Velikost písma */
    border: none; /* Bez okraje */
    border-radius: 5px; /* Zaoblení rohů */
    cursor: pointer; /* Ukazatel myši při najetí */
    margin: 5px; /* Okraje mezi tlačítky */
    transition: background-color 0.3s; /* Plynulý přechod barvy pozadí */
}

#snadna {
    background-color: #4CAF50; /* Zelená pro snadnou obtížnost */
    color: white; /* Bílý text */
}

#stredni {
    background-color:  #FFC107; /* Modrá pro střední obtížnost */
    color: white; /* Bílý text */
}

#tezka {
    background-color: #f44336; /* Červená pro těžkou obtížnost */
    color: white; /* Bílý text */
}

body.night-mode h1, #vyber, #finalScore{
    color: black;
}
