/* styles.css */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    gap: 0;
    border: 4px solid #8b4513; /* Hnědý okraj kolem celé šachovnice */
    border-radius: 8px; /* Zaoblení rohů pro lepší vzhled */
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #7f4500; /* Okraje jednotlivých políček s tmavším hnědým odstínem */
    font-size: 40px; /* Zvětšíme font pro figurky */
    cursor: pointer;
}

.square.black {
    background-color: #8b4513; /* Tmavě hnědá pro černá pole */
}

.square.white {
    background-color: #d2b48c; /* Světle hnědá pro bílá pole (barva "tan") */
}

.square.highlight {
    background-color: #90ee90; /* Světle zelená pro označená pole */
}

.modal {
    display: none; /* Skryté ve výchozím nastavení */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 200px; /* Zmenšená šířka */
    text-align: center;
}

.promotion-options {
    display: flex;
    justify-content: space-around;
}

.promotion-option {
    margin: 5px;
    padding: 5px;
    font-size: 24px; /* Větší font pro lepší viditelnost */
    cursor: pointer;
    border: none;
    background-color: #ddd;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.promotion-option:hover {
    background-color: #ccc;
}

.player-display {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}
